In [1]:
import mysql.connector

In [6]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'earlycode',
    password = '1234'
)
mycursor =mydb.cursor()
mycursor.execute('SHOW DATABASE')
for x in mycursor:
    print(x)

('goods',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [9]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'earlycode',
    password = '1234',
    database = 'goods'
)
mycursor =mydb.cursor()
mycursor.execute('CREATE TABLE item2(id int,item_seria_no varchar(255),item_name varchar(255),old_quantity int,new_quantity int,date_of_delivery date)')

In [12]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'earlycode',
    password = '1234',
    database = 'goods'
)
sql = 'INSERT INTO item2(id,item_seria_no,item_name,old_quantity,new_quantity,date_of_delivery) VALUES(%s,%s,%s,%s,%s,%s)'
val = (1,'PLATE0258','Plate',15,80,'2021-11-20')
mycursor =mydb.cursor()
mycursor.execute(sql,val)
mydb.commit()
print(mycursor.rowcount,'records was inserted')

1 records was inserted

In [17]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'earlycode',
    password = '1234',
    database = 'goods'
)
sql = 'INSERT INTO item2(id,item_seria_no,item_name,old_quantity,new_quantity,date_of_delivery) VALUES(%s,%s,%s,%s,%s,%s)'
val = [(2,'SPOON5689','Spoon',25,100,'2021-11-21'),
       (3,'CUPS898','cups',65,80,'2021-11-22'),
       (4,'BLADE2368','Blade',100,100,'2021-11-22'),
       (5,'MOP8985','Moping Stick',25,25,'2021-11-23'),
       (6,'BUCKET5698','Bucket',20,100,'2021-11-24'),
       (7,'BRUSH253','Brush',60,150,'2021-11-24'),
       (8,'SHOE8978','BOOT',60,150,'2021-11-24'),
       (9,'SHOE8978','Sandals',50,120,'2021-11-24'),
       (10,'SHOE8978','Slippers',25,1000,'2021-11-24'),]
       
mycursor =mydb.cursor()
mycursor.executemany(sql,val)
mydb.commit()
print(mycursor.rowcount,'records was inserted')

9 records was inserted

In [18]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'earlycode',
    password = '1234',
    database = 'goods'
)
mycursor =mydb.cursor()
mycursor.execute('SELECT * FROM item2')
result = mycursor.fetchall()
for x in result:
    print(x)

(1, 'PLATE0258', 'Plate', 15, 80, datetime.date(2021, 11, 20))
(2, 'SPOON5689', 'Spoon', 25, 100, datetime.date(2021, 11, 21))
(3, 'CUPS898', 'cups', 65, 80, datetime.date(2021, 11, 22))
(4, 'BLADE2368', 'Blade', 100, 100, datetime.date(2021, 11, 22))
(5, 'MOP8985', 'Moping Stick', 25, 25, datetime.date(2021, 11, 23))
(6, 'BUCKET5698', 'Bucket', 20, 100, datetime.date(2021, 11, 24))
(7, 'BRUSH253', 'Brush', 60, 150, datetime.date(2021, 11, 24))
(8, 'SHOE8978', 'BOOT', 60, 150, datetime.date(2021, 11, 24))
(9, 'SHOE8978', 'Sandals', 50, 120, datetime.date(2021, 11, 24))
(10, 'SHOE8978', 'Slippers', 25, 1000, datetime.date(2021, 11, 24))

In [19]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'earlycode',
    password = '1234',
    database = 'goods'
)
mycursor =mydb.cursor()
mycursor.execute("SELECT * FROM item2 WHERE item_seria_no = 'SHOE8978' ")
result = mycursor.fetchall()
for x in result:
    print(x)

(8, 'SHOE8978', 'BOOT', 60, 150, datetime.date(2021, 11, 24))
(9, 'SHOE8978', 'Sandals', 50, 120, datetime.date(2021, 11, 24))
(10, 'SHOE8978', 'Slippers', 25, 1000, datetime.date(2021, 11, 24))

In [21]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'earlycode',
    password = '1234',
    database = 'goods'
)
mycursor =mydb.cursor()
mycursor.execute('SELECT * FROM item2 WHERE new_quantity = 100 ')
result = mycursor.fetchall()
for x in result:
    print(x)

(2, 'SPOON5689', 'Spoon', 25, 100, datetime.date(2021, 11, 21))
(4, 'BLADE2368', 'Blade', 100, 100, datetime.date(2021, 11, 22))
(6, 'BUCKET5698', 'Bucket', 20, 100, datetime.date(2021, 11, 24))